$bp-large:                      "only screen and (min-width: 768px)";        // "768px" - Tablet in portrait mode
$bp-medium-plus:                      "only screen and (min-width: 600px)";

// Max-width breakpoints
$bp-large-max:                  "only screen and (max-width: 767px)";

// Colors

// Fonts
$font-stack-sans: 'Source Sans Pro', Helvetica, sans-serif;